.selected-publications * {
  text-transform: none;
}

.selected-publications h1,
.selected-publications h2,
.selected-publications h3,
.selected-publications .title,
.selected-publications .post-title {
  text-transform: capitalize !important;
}
